* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  /* background: linear-gradient(45deg, #00efd1, #00acea); */
  background-color: #22a39f;
  color: #f8f9fa;
}

section {
  padding: 3rem 20rem;
  /* height: 100vh; */
}

.site {
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

p {
  line-height: 2;
}

.profile-content p {
  line-height: 1;
  padding: 20px 0;
}

a {
  color: #f8f9fa;
}

/* Navigation */
nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #222222;
}

.logo {
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  min-width: 40%;
  background-color: #222222;
  opacity: 0.9;
}

.nav-links li {
  list-style: none;
  padding: 15px;
}

.nav-links a {
  overflow-x: hidden;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #f8f9fa;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Profile */

.intro {
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 79vh;
}

.profile-picture {
  border-radius: 100%;
  border: 5px solid #f3efe0;
  width: 250px;
}

.profile-picture-div {
  margin: auto 0;
}

.profile-info {
  padding-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-content {
  padding-bottom: 15vh;
  font-size: 2rem;
}

.profile-icons {
  display: flex;
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  padding: 20px 0;
}

i {
  font-size: 25px;
}

/* About */
.about-me {
  background-color: #1c6e8c;
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.about-me-content {
  margin: auto 0;
}

.about-me-paragraph {
  margin-top: 1rem;
  max-width: 45ch;
}

.about-me-title {
  text-align: left;
}

/* Projects */
.portfolio {
  background-color: #f3efe0;
}

.portfolio h2 {
  color: #1c6e8c;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  margin: 1rem 0;
  width: 20rem;
  height: 17rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* Contact */
.contact-me {
  background-color: #1c6e8c;
  height: 40vh;
}

footer {
  margin: 10px auto;
  width: 40%;
  display: flex;
  justify-content: space-around;
  background-color: #1c6e8c;
}

/* Resopnsive Design */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  section {
    padding: 3rem 3rem;
    text-align: center;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  .profile-picture {
    display: none;
  }

  .profile-content {
    font-size: 1.25rem;
  }

  .about-me-paragraph {
    margin-left: auto;
    margin-right: auto;
  }

  .about-me-title {
    text-align: center;
  }

  .portfolio {
    min-height: 100vh;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .nav-active {
    transform: translate(0%);
  }

  .project-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    align-items: center;
    justify-content: space-around;
  }

  .project-card {
    margin: 1rem 1rem;
    width: 12rem;
    height: 10rem;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
