/* || General styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0a192f;
  color: #f3f3f3;
}

a {
  color: #f3f3f3;
}

.button {
  color: #64ffda;
  border: solid 1px #64ffda;
  border-radius: 5px;
  padding: 10px 15px;
  text-decoration: none;
}

p {
  margin: 0 0 20px;
  line-height: 1.8;
}

ul {
  list-style: none;
  display: flex;
}

section {
  width: 70vw;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-heading {
  font-size: 3rem;
}

.medium-heading {
  font-size: 2rem;
  margin: 10px 0px 10px;
}

.small-heading {
  color: #64ffda;
}

.email-link {
  margin-top: 50px;
}

.side-links {
  position: fixed;
  left: 6vw;
  bottom: 0;
}

.side-links ul {
  display: flex;
  flex-direction: column;
}

.side-links ul li {
  margin-top: 20px;
}

.icon {
  font-size: 1.5rem;
  text-decoration: none;
}

.vertical-line {
  width: 1px;
  height: 90px;
  background-color: #f3f3f3;
  margin: 20px auto 0 auto;
}

/* || Header */

header {
  padding: 3vh 0;
}

.nav-container {
  justify-content: space-around;
}

.nav-links {
  text-decoration: none;
}

/* || Landing Section */

.landing-section {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-paragraph {
  width: 50%;
}

/* || About Section */

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content {
  display: flex;
  justify-content: space-between;
}

.about-text {
  max-width: 50%;
}

.about-skills-container {
  display: flex;
  justify-content: space-around;
}

.about-skills {
  flex-direction: column;
  list-style: square;
}

/* || Projects Section */

.project {
  display: flex;
}

.project-p {
  background-color: #172a45;
  border-radius: 5px;
  padding: 25px;
  width: 100%;
  position: relative;
  z-index: 10;
}

.project-links a {
  margin: 15px 10px;
}

.project-img {
  max-width: 100%;
  max-height: 100%;
}

.project-img-container {
  position: relative;
}

.project-img-overlay {
  background-color: #64ffda70;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-tech li {
  padding-right: 15px;
}

/* || Contact Section */

#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#contact p {
  max-width: 60%;
}
